<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="uf.Home_Test"/>
      <class name="uf.NewHireImport_Test"/>
      <class name="uf.AddNewMember_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
